{% extends "base.html.twig" %}

{% block body %}
    <div class="container mb-5">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Strona główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('my_event_index') }}">Moje wydarzenia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('my_event_add') }}">Dodaj wydarzenie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_logout') }}">Wyloguj się</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('admin_index') }}">Panel administratora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Zgłoszenia</a>
            </li>
        </ul>
    </div>
    <div class="container">
        {% for message in app.flashes("success") %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    </div>
    <h3>
        Lista zgłoszonych nadużyć:
    </h3>
    <br/>
    <div class="container">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Nazwa wydarzenia</th>
                    <th>Liczba zgłoszeń</th>
                </tr>
            </thead>
            {% for event in events %}
                <tr> 
                    <td><a href="{{ url("event_details", {"id":event.id}) }}">{{ event.title }}</a></td>
                    <td class="text-center">
                        {{ event.reports }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        

    </div>
    <br/>
        
        
{% endblock %}
